html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.mainbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 100%;
  top: 0;
  background-image: url("../images/mainbanner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  width: 960px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 2rem;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

.nav {
    display: none;
}

.navs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navs p{
  display: flex;
  margin: 1rem 2rem;
}

.bannertextcont {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
  width: 960px;
}

.bannertext {
  display: flex;
  position: absolute;
  margin-top: 10rem;
  margin-right: 2rem;
  padding: 1.5rem 5rem;
  padding-right: 7rem;
  width: 25rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
}

.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 960px;
}

.paper,
.ruler,
.truck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  text-align: center;
}

.ruler {
  margin-right: 6rem;
  margin-left: 6rem;
}

.paper img {
  width: 3.5rem;
}

.ruler img,
.truck img {
  width: 5rem;
}

.bottomcontainer {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin-bottom: 5rem;
}

.philosophy,
.appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.philosophy {
  margin-right: 5%;
}

.philhead,
.appointhead {
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
}

footer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 960px;
  text-align: left;
  background-color: azure;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer img{
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }

  header {
    margin-top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .mainbanner {
    height: 22rem;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .logo img {
    margin-left: 2rem;
  }

  .navs {
    margin-right: 2rem;
  }

  .bannertextcont {
    margin-right: 12rem;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }

  .bannertext {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 10rem;
    width: 17rem;
  }

  .bottomcontainer {
    justify-content: center;
  }

  footer {
    margin-bottom: 0;
  }
}

@media only screen and (max-width:470px) {
  html {
    overflow: scroll;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo img {
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 5rem;
  }

  .logo p {
    display: none;
  }

  .nav {
    display: flex;
    margin-right: 2rem;
  }

  .navs {
    display: none;
  }

  .mainbanner {
    height: 17rem;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    background-size: cover;
    background-position: 20%;
  }

  .bannertextcont {

  }

  .bannertext {
    position: static;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 8rem;
    text-align: center;
    justify-content: cente;
    width: 25rem;
  }

  .maincontent {
    top: 17rem;
  }

  .pics {
    flex-direction: column;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }

  .pics p {
    font-family: Helvetica;
    font-size: 0.77rem;
  }

  .ruler {
    margin-top: 1.54rem;
    margin-bottom: 1.54rem;
  }

  .bottomcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  .philosophy, .appointments {
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;
  }

  .philhead, .appointhead {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .philtext, .appointtext  {
    font-family: Helvetica;
    font-size: 0.77rem;
    text-align: left;
    width: 90%;
  }


  footer {
    justify-content: center;
  }

  .footer {
    margin-right: 3rem;
  }

  .copy {
    display: none;
  }
}
